[2017-11-13 00:10] auroua opened #1 "'odict_keys' object does not support indexing"
When I execute the following code:
[code]

I encountered the following errors:
[code]
How could I solve this problem? Thanks!

[2017-11-13 00:59] taehoonlee commented on #1
The problem is solved by adding Python 3 compatibility (see [codes](https://github.com/taehoonlee/tensornets/commit/985bcb5444f8b9cb3457f587568ee95ce25bc683)). In Python 2, `keys()` of a class `collections.OrderedDict` returns a `list` but a `odict_keys` in Python 3. Thank you for reporting the issue, @auroua!

[2017-11-13 00:59] #1 closed

[2017-11-15 20:20] miha-skalic opened #2 "Model load issue"
Hello,

I was trying to test your code and got stuck on loading models. See full log:
[code]

I'm using the latest version of tensornets. Any clue why this is happening?

[2017-11-15 20:45] miha-skalic opened #3 "Model load issue 2"
Another issue, this time with python2
[code]

[2017-11-15 20:57] miha-skalic commented on #3
Adding with device helps in this case:
[code]
however another error follows. It looks like the model wants to assign old FC-1000 to new FC-50.

[code]

[2017-11-18 08:45] taehoonlee commented on #2
The problem is solved by adding the encoding argument (see [updates](https://github.com/taehoonlee/tensornets/commit/6c4244852e6f571dcd7d7959da8c3288a8f46932)). The pickle files generated on Python 2 seem to be encoded as `bytes`. Thank you for reporting the issue, @miha-skalic!

[2017-11-18 08:45] #2 closed

[2017-11-18 12:08] taehoonlee commented on #3
The first error raised because of attempts to restore all the global variables when weights for \`tf.train.Optimizer\` are additionally declared.
The second one caused by the size mismatch in the last layer.
Thank you for reporting the issue again @miha-skalic, please see [the updates](https://github.com/taehoonlee/tensornets/commit/896e11b8c9a2dbfe3efb24f00e1fec4e3dc45d7d) for the procedure of as

[2017-11-18 12:08] #3 closed

[2018-02-07 02:04] taehoonlee opened #4 "Load pretrained weights when multiple models exist"
When multiple models exist, `pretrained()` from the second doesn't work.

[code]

[2018-02-07 02:21] #4 closed

[2018-02-07 08:47] taehoonlee opened #5 "Access representative endpoints"
Currently, there are only `get_outputs()` which returns all the endpoints (too verbose). However, in practice, many users want to access representative endpoints only (e.g., `conv5b` in `GoogLeNet`).
[code]

The new API requests are:
[code]

[2018-02-09 00:40] #5 closed

[2018-03-28 08:47] alain2208 opened #6 "detection scripts error"
hi with windows got this error when trying your detection script
is there something missing.
installed with pip
AssertionError: `get_boxes` requires `darkflow`

[2018-03-28 09:40] taehoonlee commented on #6
@alain2208, Can you try `pip install git+https://github.com/thtrieu/darkflow` (maybe requires `pip install cython`)? I have not tried it on Windows yet.

[2018-03-28 10:02] KhaledSharif opened #8 "ImportError: No module named 'voc'"
## How to reproduce

[code]

## Error trace

[code]

## Possible fix

Commenting out the first (and only) line in `/usr/local/lib/python3.5/dist-packages/tensornets/datasets/__init__.py` fixes the issue. A real fix would probably deal with absolute and relative imports though.

## Environment details

[code]

[2018-03-28 11:06] inoue0426 opened #9 "README's "A quick example" get error."
"from tensornets import utils
img = utils.load_img('cat.png', target_size=256, crop_size=224)
assert img.shape == (1, 224, 224, 3)"

This script get error.

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-2-cfc591717955> in <module>()
      1 from tensornets import utils
----> 2 i

[2018-03-28 11:38] alain2208 commented on #6
works now ....with darkflow install trick  this no more shout for this one .... but another one .
think yolo_utils.py was developped for python2.7 as i have a crash for xrange under python 3.5. who don't use xrange anymore.
maybe i should open another case for the yolo_utils

BTW great job

[2018-03-28 11:43] alain2208 commented on #9
got the same under windows i copy one of my pic and defined the complete path to find the image. worked well

[2018-03-28 11:57] alain2208 commented on #8
your fix worked for me

[2018-03-28 13:15] taehoonlee commented on #6
@alain2208, The issue has been resolved by #7. If you want to use the latest version, you can try `pip install -U --no-deps git+https://github.com/taehoonlee/tensornets`. Thank you for the comments!

[2018-03-28 13:15] #6 closed

[2018-03-28 13:25] taehoonlee commented on #8
The issue has been resolved by [this patch](https://github.com/taehoonlee/tensornets/commit/45a5bcf4b4c471b0b1a323c144c82b4923f247e1). If you want to use the latest version, you can try `pip install -U --no-deps git+https://github.com/taehoonlee/tensornets`. Thank you for the comments, @KhaledSharif!

[2018-03-28 13:25] #8 closed

[2018-03-28 13:32] taehoonlee commented on #9
@inoue0426, It doesn't seem to be a TensorNets issue. You can try the sample codes on the directory where the `cat.png` exists. Or, you can also give the complete path as @alain2208 said.

[2018-03-28 13:32] #9 closed

[2018-03-28 15:00] alain2208 opened #10 "Comparison of different networks: failed with error"
used your code as it is to compare multiple nets and get this one
tried with the version your provided hours ago on windows

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-3-cec65c313e93> in <module>()
     10
     11 with tf.Session() as sess:
---> 12     nets.pretrained(models)

[2018-03-29 08:17] taehoonlee commented on #10
The issue has been resolved by [this patch](https://github.com/taehoonlee/tensornets/commit/001357c8f58e1d62d464aeb3b1419cca17903633). If you want to use the latest version, you can try `pip install -U --no-deps git+https://github.com/taehoonlee/tensornets`. Thank you for the comments, @alain2208!

[2018-03-29 08:17] #10 closed

[2018-03-30 13:50] alain2208 opened #11 "loading multiple image at the same time"
to  process multiple image in one shot i did like this

listim=[
    'c:/graph/1.jpg','c:/graph/2.jpg','c:/graph/3.jpg'
]

img = utils.load_img(listim, target_size=256, crop_size=224)
imgs = nets.preprocess(models, img)

got TypeError: bad argument type for built-in operation on the utils.load_img(

how to proceed if multiple image to detect?
i was trying the network comparison and so i thought it

[2018-03-30 19:29] hudvin opened #12 "Add OpenImages model"
I think it would be nice to add support of this model https://github.com/openimages/dataset

[2018-03-31 08:13] taehoonlee commented on #12
That's a good idea, Thank you @hudvin!

[2018-03-31 09:15] taehoonlee commented on #11
@alain2208, Please see [this commit](https://github.com/taehoonlee/tensornets/commit/c69da5ec32a1af288c70af7c37e08f6a8a19fe82). Now you can input a list of paths into `load_img`.

[2018-03-31 09:15] #11 closed

[2018-04-13 03:54] abagshaw opened #13 "Various questions"
First off, thanks very much for all your work on this - a really clean and understandable implementation of YOLO 😄 I have a few questions (probably very basic) about getting started with training and inference with tensornets - in specific to the YOLOv2 model:

1. I am wanting to train YOLOv2 on the Open Images dataset. How can the tensornets implementation of YOLOv2 be used with a custom number o

[2018-04-13 05:07] taehoonlee commented on #13
Thank you for your attention, @abagshaw! Basically, the model functions always return `tf.Tensor`; thus you can manipulate models with any regular TensorFlow APIs. My answers are:

1. I am planning to release the loss function and training codes for YOLO in a week. The following is an example of your own YOLOv2 (I think I should write a simpler API 😂):
[code]

2. You can use regular `tf.train.Save

[2018-04-13 05:27] abagshaw commented on #13
@taehoonlee Thanks for the super quick response!

1. Thanks for the example - makes sense. One other thing, shouldn't the number of filters be changed to `2750` given the number of classes?

I'll certainly see if I can get training up and running on a TPU when I have a chance after the loss function is implemented. Thanks again for all your work on this!

[2018-04-13 05:40] taehoonlee commented on #13
You are right @abagshaw, `(# classes + 5) * # anchors = (545 + 5) * 5 = 2750`. Thank you so much!

[2018-04-13 06:17] #13 closed

[2018-04-16 01:43] taehoonlee opened #14 "Add FP16 supports"
TensorNets lacks of FP16 supports. For example, the following should work:
[code]

[2018-04-23 13:35] taehoonlee commented on #14
|                  | float16 support | bonding with YOLOv2 |
|------------------|:---------------:|:-------------------:|
| ResNet50         |     >=1.5.0     |          O          |
| ResNet101        |     >=1.5.0     |          O          |
| ResNet152        |     >=1.5.0     |          O          |
| ResNet50v2       |     >=1.5.0     |          O          |
| ResNet101v2      |     >=1.5.0

[2018-04-23 13:35] #14 closed

[2018-04-23 13:44] taehoonlee commented on #13
@abagshaw, Please see #14 for the FP16 supports. The native operations support the FP16 since `TF>=1.1.0` except that `tf.nn.depthwise_conv2d`, `tf.nn.separable_conv2d`, and `tf.contrib.layers.batch_norm` do `TF>=1.5.0`. Therefore, you can just put `tf.placeholder(tf.float16)` and then call all the network functions when `TF>=1.5.0`.

[2018-04-23 15:49] abagshaw commented on #13
@taehoonlee Awesome, thanks! Also, no pressure - but any progress on YOLO training? 😃

[2018-04-24 00:35] taehoonlee commented on #13
@abagshaw, Almost finished 🔥.

[2018-04-24 01:57] taehoonlee commented on #14
The performance issue of \`pretrained_initializer\` with float16 should be investigated (see the [workaround](https://github.com/taehoonlee/tensornets/commit/3dccdd800b1c4b17cb233e7329eeed057b53dbc3)).

[2018-04-26 20:08] abagshaw opened #15 "Extreme memory usage and bug with FP16 and darkflow_utils"
When using YOLOv2 COCO or VOC on tensornets (TF 1.7, CPU, Win 10) the memory usage with the input as `tf.float32` is massive (3GB +) which is more than twice what darkflow uses for the same model. Not quite sure why.

When trying to use `tf.float16` with YOLOv2, memory usage is significantly reduced (could be due to a bug that so little memory is used actually...), but there seems to be a problem

[2018-04-29 17:16] abagshaw commented on #15
@taehoonlee Thanks for getting that fixed. One very important point I forgot to mention is that I'm using Python 3.6.5 (not Python 2) so that may actually be the source of the memory problems. I might poke around and see if I can find the source of the problem.

[2018-04-30 21:41] abagshaw opened #16 "YOLOv3: Buffer has wrong number of dimensions"
Sorry for all the issues opened recently 😄 No worries if you don't have time to look at this one.

Running with: Ubuntu 17.10, Python 2.7, Tensorflow-GPU 1.7.0, Nvidia K80

The following code:

[code]

Produces this error:

Any ideas? Same thing happens if I run with `YOLOv3COCO`

[2018-05-01 06:27] taehoonlee commented on #16
I think you are helping me now and I really appreciate your constant supports 👏. Don't be sorry @abagshaw.

As you know, YOLOv3 predicts at three different scales. Thus, the `sess.run(model)` must be replaced by `sess.run(model.preds)`, which returns the different-scaled feature maps. I think I should write documents about this 😂.

[2018-05-01 06:29] taehoonlee commented on #15
OK, @abagshaw. I am going to investigate Python 3.6.

[2018-05-01 19:07] abagshaw opened #17 "YOLOv3 odd detection behaviour vs YOLOv2"
Here's the same [image](https://unsplash.com/photos/grKziVsagXs) put through `YOLOv2COCO` and then `YOLOv3COCO` respectively (threshold set at 0.4 and input resolution at 416x416 for both):

![YOLOv2](https://user-images.githubusercontent.com/8594541/39488635-bd882dfa-4d37-11e8-96b0-0aa1aabc4004.PNG)
![YOLOv3](https://user-images.githubusercontent.com/8594541/39488636-bdab695a-4d37-11e8-8453-97484

[2018-05-03 02:00] taehoonlee commented on #16
[README updated](https://github.com/taehoonlee/tensornets/commit/81569434850c4926f6b408000f61292aed82fbf3).

[2018-05-03 02:00] #16 closed

[2018-05-03 02:47] taehoonlee commented on #17
Yes, I suspect the post processing too, because I just had translated the architecture of the original YOLOv3 and concatenated the result boxes of three different scales (see [codes](https://github.com/taehoonlee/tensornets/blob/master/tensornets/references/yolo_utils.py#L74)). I think I should carefully investigate incorporation of the results from three-scales. Thank you for the comments, @abags

[2018-05-04 00:49] taehoonlee commented on #17
@abagshaw, I got it. The keras implementation you mentioned [concatenates](https://github.com/experiencor/keras-yolo3/blob/master/yolo3_one_file_to_detect_them_all.py#L418) the result boxes of three different scales like TensorNets. But it does NMS after concat while TensorNets does concat after NMS. I'll compare the two approaches and let me know you.

[2018-05-04 00:57] taehoonlee commented on #17
@abagshaw, I confirmed the softmax issue and will revise the post processing with respect to [the original one](https://github.com/pjreddie/darknet/blob/master/src/yolo_layer.c#L132). Thank you!

[2018-05-09 11:38] taehoonlee commented on #17
@abagshaw, I revised the NMS issue first. The [updates](https://github.com/taehoonlee/tensornets/commit/93bd531be8fcd1c2fee56b0d3626a7a769005847) improved the mAP on VOC2007 by 2%.
Could you check to see if the smaller bbox problem is still happening?

[2018-05-09 14:53] abagshaw commented on #17
@taehoonlee Problem solved! It's working beautifully now as far as I can see. Thanks so much!

[2018-05-09 14:53] #17 closed

[2018-05-10 11:05] taehoonlee commented on #15
@abagshaw, In order to investigate the memory issue, I tested 12 combinations and summarize the memory consumptions (MB) as follows. In my tests, `tf.float32` looks optimized on TF 1.8, and there was no significant difference in the other combinations. I think that 3GB+ consumption may be happened due to Windows.

| config              | tf.float32 | tf.float16 |
|---------------------|-----------

[2018-05-10 11:05] #15 closed

[2018-05-10 16:25] abagshaw commented on #15
@taehoonlee Thanks so much for all that work. Yes, I suppose this must be a Windows problem - oh well 😄

[2018-05-18 17:50] abagshaw commented on #13
@taehoonlee Awesome, thanks so much! Right now I'm swamped with work so I don't see myself getting time to tinker around with it - but if a break comes up I'll certainly give it a shot.

[2018-05-22 13:12] samanthawyf opened #18 "TypeError: 'NoneType' object is not callable in results = yolov2_box(opts, np.array(outs[0], dtype=np.float32))"
in get_v2_boxes,
results = yolov2_box(opts, np.array(outs[0], dtype=np.float32))
TypeError: 'NoneType' object is not callable

It seems that it failed to do this step: from .darkflow_utils.get_boxes import yolov2_box
How can I solve it?

[2018-05-24 04:28] samanthawyf commented on #18
@taehoonlee
Hi, I installed TensorNets 0.3.4 version by **pip install tensornets**. And the code is object detection example, in detail:
[code]
and the error occurs in the last sentence, in detail
[code]

[2018-05-25 02:32] taehoonlee commented on #18
@samanthawyf, I suspect that part too. Can you shom me the exact message of `from tensornets.references.darkflow_utils import get_boxes`?

[2018-05-25 03:09] samanthawyf commented on #18
@taehoonlee  I am sorry I don't know how to get the exact message. As I mentioned before, the error is:
_File "objectde_test.py", line 12, in <module>
    boxes = model.get_boxes(preds, img.shape[1:3])
  File "/home/wyf/anaconda2/envs/tensorflow1.2/lib/python2.7/site-packages/tensornets/detections.py", line 69, in get_boxes
    return yolo_boxes(opts('yolov2' + data_name(classes)), *args, **kwargs

[2018-05-25 03:50] taehoonlee commented on #18
@samanthawyf, It is easy. Please just run `from tensornets.references.darkflow_utils import get_boxes`.

[2018-05-25 04:20] samanthawyf commented on #18
@taehoonlee
[code]

[2018-05-25 05:36] taehoonlee commented on #18
@samanthawyf, The Cythonization of `darkflow_utils` seem to have failed. Can you share the results of the following?
[code]

[2018-05-25 07:26] samanthawyf commented on #18
@taehoonlee I tried `python setup.py build_ext --inplace` as you mentioned, and retried my python file on tensorflow1.4, and it works.
However, on tensorflow1.2, the command didn't pass, the error is as follows:
[code]

[2018-05-28 08:32] samanthawyf commented on #18
@taehoonlee  Thank you so much. I've solved the problem. On tensorflow1.2 platform,  first I updated `setuptools`, then I ran the command `python setup.py build_ext --inplace`, and it works finally. Thanks again for your help.

[2018-05-29 00:44] #18 closed

[2018-05-31 00:36] enningxie opened #19 "tensorflow 1.3"
when I use `nets.pretrained(model)`, error happends

AttributeError: 'str' object has no attribute 'dtype'

[2018-06-05 05:19] taehoonlee commented on #19
@enningxie, Please use the API `sess.run(model.pretrained())`. The `nets.pretrained(model)` is not fully supported.

[2018-06-05 05:19] #19 closed

[2018-06-17 02:50] songzenghui opened #20 "Can't install the tensornets on Mint"
Hi, I try to install the tensornets on Mint os by `pip install tensornets`
Here is the ERROR:
`Installing collected packages: tensornets
  Running setup.py install for tensornets ... error
    Complete output from command /usr/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-install-e0ktv6qy/tensornets/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r

[2018-06-17 09:36] taehoonlee commented on #20
I don't know Mint OS. Can you try `apt-get install python3-dev` or `yum install python3-devel`?

[2018-06-18 02:22] haddis3 opened #21 "can't load the weights"
my code can run without any error in one device. when i copy the code to the another device, it crashed.
here is the error:

    main()
  File "/media/profyuan/新加卷2/JD_Fashion_AI/JD_Fashion_AI_original/train.py", line 200, in main
    run_training()
  File "/media/profyuan/新加卷2/JD_Fashion_AI/JD_Fashion_AI_original/train.py", line 152, in run_training
    sess.run(model.pretrained())
  File "/usr/l

[2018-06-18 02:29] taehoonlee commented on #21
@haddis3, Can you share your snippets to reproduce the error?

[2018-06-18 02:43] haddis3 commented on #21
`def run_training():

    is_training = tf.placeholder(tf.bool)
    steps_per_epoch = 3000
    # learning_rate = tf.placeholder(dtype=tf.float32)
    train_filenames = ['./train.tfrecords']
    validation_filenames = ['./valid.tfrecords']
    train_datasets = tf.data.TFRecordDataset(filenames=train_filenames)
    validation_datasets = tf.data.TFRecordDataset(filenames=validation_filenames)
    tra

[2018-06-18 06:12] taehoonlee commented on #21
@haddis3, Can you elaborate on your snippets to reproduce the error? The above snippet has no error points.

[2018-06-22 18:43] clecocel opened #22 "Any plan to port RetinaNet to tensornets?"
The title says it all :)

[2018-06-22 18:48] clecocel commented on #22
I just realized that it is available in Keras so closing this!

[2018-06-22 18:48] #22 closed

[2018-07-18 23:36] eliac1988 opened #23 "The parameter settings for MobileNet V2."
Hi,
I would like to ask about the parameter settings of training MobileNet V2 from scratch with ImageNet, such as the initial learning rate, the optimizer, the loss function, as well as the training epochs.

Thank you so much.

[2018-07-19 02:17] taehoonlee commented on #23
@eliac1988, This repository is initially designed for only inference. I'm planning to add training codes near soon, but currently, you can refer to the original TF-slim repository:

- [`train_image_classifier` script](https://github.com/tensorflow/models/blob/master/research/slim/train_image_classifier.py)
- [hyper-parameters for training](https://github.com/tensorflow/models/tree/master/research/

[2018-07-19 02:17] #23 closed

[2018-07-19 02:20] taehoonlee commented on #21
@haddis3, I'll close the issue for now. Please feel free to open it again at any time if you have time to check. I'm always ready :)

[2018-07-19 02:20] #21 closed

[2018-07-19 02:20] taehoonlee commented on #20
@songzenghui, I'll close the issue for now. Please feel free to open it again at any time if you have time to check. I'm always ready :)

[2018-07-19 02:20] #20 closed

[2018-08-22 21:41] jafetmorales opened #24 "Error when running pip install tensornets"
This is the output when running <code>pip install tensornets</code>
[code]
This is my setup:

[2018-08-24 13:05] taehoonlee commented on #24
Thank you for trying TensorNets, @jafetmorales. It is hard for me to support Windows. I am so sorry. How about trying Conda or Docker?

[2018-08-29 21:00] nidhitvaishnav commented on #24
HI, I am using
_Python : 3.6.5
OS: Windows 10_
And I am trying to install TensorNets in Anaconda Navigator, but Tensornets is not available in the environments. And when I tried to install from anaconda command prompt in conda then I got the same error.
So can you please make it supportable to at least anaconda navigator?

[2018-08-31 10:24] taehoonlee opened #25 "Notes for different padding behaviors when `stride=2, padding='SAME'`"
The 2x down-sampling is one of the important operations in reference models. But, a convolution or a pooling with `stride=2, padding='SAME'` may result in different outputs over different deep learning libraries (e.g., TensorFlow, CNTK, Theano, Caffe, Torch, ...) due to their different padding behaviors.

For example (TensorNets syntax; but can be regarded as pseudo codes for other libraries),

[c

[2018-08-31 10:26] taehoonlee commented on #24
@nidhitvaishnav, Can you try `pip install tensornets` rather than `conda install`?

[2018-09-07 20:44] jafetmorales commented on #24
@taehoonlee I was strictly testing whether the `pip install tensornets` from the `README` worked. Maybe we can mention it might not be supported on Windows.

[2018-09-08 07:49] #24 closed

[2018-09-10 09:59] likeyu21 opened #27 "How can I train with yolov3?"
I want to train using yolov3. how can i use the module yolov3 to train ?

[2018-10-14 11:15] LynnHo opened #28 "The output problem of sharing weights."
I use the code like below,
[code]
`outputs_2` appends the outputs of `x_2` to `outputs_1`.

[2018-10-15 14:18] wingerliu opened #29 "about some doubt"
First thanks your repo. but i want to ask you some doubt of mine.
1. In follow image, we can see 'scope' in function __stack unuse;
![default](https://user-images.githubusercontent.com/26087367/46956275-7a13fe00-d0c7-11e8-9cb4-a4cf6844d6f9.png)
2. What is this circled in follow image.
![default](https://user-images.githubusercontent.com/26087367/46956558-3077e300-d0c8-11e8-878f-72e330ada125.png)

[2018-10-15 17:02] nidhidamodaran opened #30 "Unable to do evaluation with multi GPU."
Though training is successful in multi-gpu cases, eval step fails with the following error:

InvalidArgumentError (see above for traceback): Number of ways to split should evenly divide the split dimension, but got split_dim 0 (size = 1) and num_split 2
	 [[Node: split_inputs/split = Split[T=DT_FLOAT, num_split=2, _device="/job:localhost/replica:0/task:0/device:CPU:0"](split_inputs/split/split_dim

[2018-10-16 02:13] taehoonlee commented on #30
@nidhidamodaran, Can you share your code snippet? It is not easy for me to reproduce your error without the codes.

[2018-10-16 03:17] nidhidamodaran commented on #30
@taehoonlee , please use the attached code.
[sample_cat_dog.txt](https://github.com/taehoonlee/tensornets/files/2481277/sample_cat_dog.txt)

Dataset is from here( files.fast.ai/data/dogscats.zip )

[2018-10-16 10:51] taehoonlee commented on #29
Thank you for trying TensorNets, @wingerliu.

1. The `scope` is reassigned based on the default variable scope (e.g., `darknet19`, `genYOLOv2`) in [the decorator `var_scope`](https://github.com/taehoonlee/tensornets/blob/master/tensornets/utils.py#L231-L264).

2. The `x.p` is also assigned in the `var_scope`. It means the bottleneck layer.

[2018-10-16 10:57] taehoonlee commented on #27
Thank you for trying TensorNets, @likeyu21. Currently, training for only yolov2 is supported (see [examples](https://github.com/taehoonlee/tensornets/blob/master/examples/train_yolov2.py)). I am not planning to add yolov3 training codes for the time being... I am so Sorry.

[2018-10-16 11:05] nidhidamodaran commented on #30
@taehoonlee , looks like bug is in tensorflow.
Code works with tf.contrib.distribute.MirroredStrategy.

Closing the issue.

[2018-10-16 11:05] #30 closed

[2018-10-25 03:45] LynnHo commented on #28
@taehoonlee Do you have any idea? Is it a bug?

[2018-10-29 07:37] taehoonlee commented on #28
@LynnHo, Sorry for the late reply. This is because the two models have the same prefix for the output tensors. Currently, the following is one of the workarounds:
[code]

If I find the elegant methods or make weight sharing more seamless, I'll let you know. Thank you for the reports!

[2018-10-29 07:40] taehoonlee commented on #29
I'll close the issue for now. Please feel free to open it again at any time if you have additional comments, @wingerliu.

[2018-10-29 07:40] #29 closed

[2018-10-30 03:21] jinfagang opened #31 "How to download the pretrained weights?"
I wanna test yolo2 or yolov3 combined with mobilenetv2, as following codes, how to download the models?

[code]

[2018-10-31 02:38] taehoonlee commented on #31
Thank you for trying TensorNets, @jinfagang. There are no pre-trained weights for yolo with mobilenetv2. In order to train them, [this example](https://github.com/taehoonlee/tensornets/blob/master/examples/train_yolov2.py) would be helpful. The point is to exploit the pre-trained weights only for the stem layers as follows:
[code]

[2018-10-31 12:40] minooisbusy opened #32 "Windows 10, anaconda environment build error occurred."
Hello, i having difficulties about install tensornets.

my environment is explaned bellow.

OS: windows 10
Virtual environment: anaconda
Python version: 3.5
tensorflow version: 1.9
PIP version: 18.1

I was activating my tensorflow virtual environment on anaconda then input command like this

`pip install tensornets`.

whole prompt return string is here

[code]
middle of the return strings, there a

[2018-11-01 14:47] minooisbusy commented on #32
i just solve this problem using comment

`pip install git+https://github.com/taehoonlee/tensornets.git`

i think git commend is updated recent commit but pip commend doesn't be updated

[2018-11-01 14:47] #32 closed

[2018-11-02 01:31] taehoonlee commented on #32
Thank you for trying TensorNets, @minooisbusy. As you expected, the latest PR #26 can solve the problem. I will release them on PyPI soon.

[2018-11-06 12:21] ScroogeMucDuck opened #33 "Error When pip"
When I installed TensorNets from PyPI (pip install tensornets) , what happened as:
Building wheels for collected packages: tensornets
  Running setup.py bdist_wheel for tensornets ... error
  Complete output from command e:\python\anaconda_setup\python.exe -u -c "import setuptools, tokenize;__file__='C:\\Users\\hp\\AppData\\Local\\Temp\\pip-install-u8ygwt_s\\tensornets\\setup.py';f=getattr(tokeniz

[2018-11-06 12:31] ScroogeMucDuck commented on #33
Well, you are right @minooisbusy, it does work, thanks very much.

[2018-11-10 12:41] taehoonlee commented on #33
@minooisbusy @ScroogeMucDuck Now you can install via `pip install tensornets`. Thank you for reporting the issue :)

[2018-11-10 12:41] #33 closed

[2018-11-15 01:54] taehoonlee commented on #31
@jinfagang, I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2018-11-15 01:54] #31 closed

[2018-11-25 13:59] LynnHo opened #34 "Vgg16: Problems of Loading Pretrained Weights without fcs"
@taehoonlee I tried to use sess.run(net.pretrained()) for vgg16, but it failed because of shape mismatch (I did not use the default input size). I read the source code and I am confused by line 320 in tensornets/utils.py,
![image](https://user-images.githubusercontent.com/16457298/48979821-387d6680-f0fb-11e8-9938-abcfcd8f648f.png)
is the code at line 321 designed for tackling the shape mismatch of

[2018-11-26 16:09] Irfanwustl opened #35 "Using YOLOv2 get_boxes for optimization"

[2018-11-26 16:19] Irfanwustl commented on #35
Hi,
I am trying to generate adversarial example for YOLOv2. I want to minimize the score of a target object until it falls below the detection threshold. But the output layer does not provide the score directly. Rather, it is calculated by the get_boxes function. Is there any way to add this function to the final layer? Any ideas how can I minimize the score?
Thanks.

[2018-11-28 00:51] taehoonlee commented on #34
Thank you for trying TensorNets, @LynnHo. Can you share a TensorNets version and your snippets to reproduce the error? The different input shape is not related to the weight shape mismatching. Maybe, I guess that you use different `classes`. And the lines 321-324 are to handle the different `classes` as you expected.

[2018-11-29 03:56] LynnHo commented on #34
@taehoonlee I use a code like below,

[code]
and the error is,

ValueError: Dimension 0 in both shapes must be equal, but are 32768 and 25088. Shapes are [32768,4096] and [25088,4096]. for 'Assign_26' (op: 'Assign') with input shapes: [32768,4096], [25088,4096].

If the shape is [None, 224, 224, 3], the code works.

[2018-11-29 04:08] taehoonlee commented on #34
@LynnHo, I see. I misunderstood the problem. The VGG16 and the VGG19 accept only a size of 224x224 because the `fc6` layer produces a 4096-dimensional vector from a 25088(=7*7*512)-dim vector. The error is from VGG's non-flexible architecture (accepting only fixed input sizes), not the line 320.

[2018-11-29 04:42] LynnHo commented on #34
@taehoonlee But if I just want to load the pretrained weights of Convs ignoring the FCs‘, line 320 is unsuitable. I modified the code at line 320-324 to blow, it works for me
[code]

[2018-11-29 05:19] taehoonlee commented on #34
@LynnHo, Thank you for the idea. But the proposed one will load all the weights except the middle layer `fc6`. I think it is error-prone. For the users who want to exploit all the weights, I think it is better to show the mismatch error rather than a silent error due to the random middle layer `fc6`.

[2018-11-29 05:43] LynnHo commented on #34
@taehoonlee You are right, the shape mismatch should be shown. Or an argument to control the ignoring of the shape mismatch would be better. Anyway, thanks a lot!

[2018-12-06 08:07] #34 closed

[2018-12-06 08:20] taehoonlee commented on #34
@LynnHo, Yes I will considering the argument to control the shape mismatch. Thank you for the idea.

[2019-01-03 04:37] innerop opened #36 "State of TensorRT / XLA support?"
Does anyone know if these pre-trained models can be converted to TensorRT engine executables? Or JIT'd by XLA for NVIDIA GPUs?

[2019-01-09 12:26] luitcifer opened #37 "Anaconda python 2.7"
Command "C:\Users\User\Anaconda2\python.exe -u -c "import setuptools, tokenize;__file__='c:\\users\\user\\appdata\\local\\temp\\pip-install-jarbs8\\pybluez\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record c:\users\user\appdata\local\temp\pip-record-rosdw0\install-record.txt --single-version-

[2019-01-09 12:36] luitcifer commented on #37
(base) C:\Users\User>pip install pybluez
Collecting pybluez
  Downloading https://files.pythonhosted.org/packages/c1/98/3149481d508bee174335be6725880f00d297afebe75c15e917af8f6fe169/PyBluez-0.22.zip (109kB)
    100% |################################| 112kB 23kB/s
Building wheels for collected packages: pybluez
  Running setup.py bdist_wheel for pybluez ... error
  Complete output from command C:\Us

[2019-01-09 12:37] luitcifer commented on #37
how to solve this issue?

[2019-01-10 06:16] taehoonlee commented on #24
@luitcifer, is your problem related to TensorNets? What are your exact command and the error message?

[2019-01-10 06:18] taehoonlee commented on #37
@luitcifer, is your problem related to TensorNets?

[2019-01-10 06:19] luitcifer commented on #37
I installed Anaconda2. But pybluez library didn't install

[2019-01-10 06:27] #37 closed, assigned to nobody

[2019-01-15 15:29] luitcifer opened #38 "Why don't install "pybluez" in anaconda3 in windows10 system"
pip install pybluez
Collecting pybluez
  Using cached https://files.pythonhosted.org/packages/c1/98/3149481d508bee174335be6725880f00d297afebe75c15e917af8f6fe169/PyBluez-0.22.zip
    Complete output from command python setup.py egg_info:
    Could not find the Windows Platform SDK

    ----------------------------------------
Command "python setup.py egg_info" failed with error code 1 in C:\Users\U

[2019-01-23 23:33] taehoonlee commented on #38
@luitcifer, Maybe you'd better ask to `https://github.com/pybluez/pybluez`.

[2019-01-23 23:33] #38 closed

[2019-01-23 23:39] taehoonlee commented on #35
Sorry for the late reply, @Irfanwustl. The loss already includes the score you mentioned. Thus, you can modify the function `v2_loss` in `tensornets/references/yolo_utils.py` in order to minimize the score.

[2019-01-29 16:05] ameroyer opened #40 "Minor issue with name scopes"
Hello,
I've noticed a minor issue when using name scopes (mostly for Tensorboard visualization). For instance the following code raises an error in the `utils.var_scope` wrapper:

[code]

It seems the problem comes from line 243 where `_scope = tf.get_variable_scope().name` only looks at variable scope while the `tf.get_collection(..., scope=_scope)` at line 124 look through variable names.
It can

[2019-02-13 17:35] PeterMcGor opened #41 "Two easy questions"
Hello;

I am planning to compare the performance of a few segmentation models and I found the repo when I was looking for the easiest way to implement transfer learning from classifications to segmentation models. The work you have done until now is outstanding and for sure is helping a lot of us.

I am just about to try tensornets but before I would like to ask a couple of questions in order to t

[2019-02-14 13:11] taehoonlee commented on #41
Thank you for trying TensorNets, @PeterMcGor.
1. Yes, you are right.
2. I have never tried it. But, it looks easy :)

[2019-02-15 14:08] ameliajimenez opened #42 "Dropout"
Hello!

Thank you for sharing this library, it's great work!

I would like to know whether it's possible to use dropout with the pretrained models, I'm obtaining severe overfitting in my models.

Thanks in advance.

Regards,
Amelia.

[2019-02-18 04:52] taehoonlee commented on #42
Thank you for trying TensorNets, @ameliajimenez. Currently, you need to modify the model in your local if you want to customize the model.

[2019-03-04 09:46] taehoonlee opened #43 "Notes for variable_scope, name_scope, and weight sharing"
**TensorNets** provides a seamless integration with regular TensorFlow APIs. You can define any models under `tf.variable_scope` and `tf.name_scope` to couple the model with your established scripts. This document shows basic examples for `tf.variable_scope`, `tf.name_scope`, and ***weight sharing***. First, import two libraries:
[code]

Let's get started with basic TensorFlow APIs. You can manage

[2019-03-04 09:47] #42 closed

[2019-03-04 09:47] #41 closed

[2019-03-04 09:52] taehoonlee commented on #40
Thank you for the report, @ameroyer.
1. Fix: https://github.com/taehoonlee/tensornets/commit/ae8e431cbabda125adce6ec2b5aea7f0373d9369
2. Notes: #43
3. Test codes: https://github.com/taehoonlee/tensornets/commit/b1c253341573118a5b61ca0c7716257b9be248f0

If you want to use the latest version, you can try `pip install -U tensornets`. Please feel free to open it again at any time if you have additiona

[2019-03-04 09:52] #40 closed

[2019-03-04 09:55] taehoonlee commented on #28
The recent updates address the issue you reported. Currently, I recommend the following pattern:
[code]

These are the materials you might be interested in:
1. Fix: https://github.com/taehoonlee/tensornets/commit/ae8e431cbabda125adce6ec2b5aea7f0373d9369
2. Notes: #43
3. Test codes: https://github.com/taehoonlee/tensornets/commit/b1c253341573118a5b61ca0c7716257b9be248f0

If you want to use the late

[2019-03-04 09:55] #28 closed

[2019-03-04 10:07] LynnHo commented on #28
@taehoonlee Thanks for your effort！ Tensornets really helps in my works！

[2019-03-05 11:46] rohtash0211 opened #44 "tensornets on windows 10"
Hello, facing difficulties to install tensornets.

my environment is explained bellow.

OS: windows 10, windows 7
anaconda
Python version: 3.5, 3.6
tensorflow version: 1.9, 1.10
PIP version: 18.1, 10.0.1, 19.x

pip install tensornets and pip install git+https://github.com/taehoonlee/tensornets.git

Collecting git+https://github.com/taehoonlee/tensornets.git
  Cloning https://github.com/taehoonlee/

[2019-03-06 07:45] siaqadri commented on #24
i download this package please tell me the procedure how can i install it from command prompt.

[2019-03-08 02:38] taehoonlee commented on #44
Thank you for trying TensorNets, @rohtash0211. But the error message is `error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools"`. It doesn't seem to be a TensorNets issue.

[2019-03-08 02:52] taehoonlee commented on #24
@siaqadri, please try `pip install tensornets`.

[2019-03-08 10:36] rohtash0211 commented on #44
Hi,

Tensornets is working fine on another machine with the same
configuration. Microsoft
Visual C++ 14.0 is not installed on another machine.

Kindly suggest

Thanks and Regards,
*Rohtash Chaudhary*
Tel. 8588803184, 9818959484
rohtash0211@gmail.com

On Fri, Mar 8, 2019 at 8:08 AM Taehoon Lee <notifications@github.com> wrote:

[2019-03-08 10:56] taehoonlee commented on #44
Thank you, @rohtash0211!

[2019-03-08 10:56] #44 closed

[2019-03-11 04:41] taehoonlee opened #45 "Notes for logits and softmax_cross_entropy"
All the models in **TensorNets** return a softmax `tf.Tensor`, while the models in `tensorflow/models` (also backbone of `tensorflow/hub`) do a logits `tf.Tensor` (the values before softmax). That is because most regular TensorFlow loss APIs take a logits as an argument. In results,

- Incorrect: `tf.losses.softmax_cross_entropy(onehot_labels=outputs, logits=model)`,
- Correct: `tf.nn.softmax_cros

[2019-06-20 07:38] weishengchong commented on #36
Hi @innerop, @taehoonlee,

If you have any comments on the TensorRT support, kindly advise.
Thanks @taehoonlee for the great works!

[2019-08-30 07:06] suryatejadev opened #47 "Validation loss exploding, potentially due to setting is_training = False"
Hi! Thanks a lot for this repo, I think it's very well written and extremely easy to use!

I am training a simple MNIST multi-class classifier using pretrained resnet50. I am using a placeholder 'is_train' to set the 'is_training' argument in the resnet50 model to True (during training) and False (during validation). However, when I set it's value to False during validation, my validation loss is

[2019-09-06 21:43] suryatejadev commented on #47
I found my error. I was not adding batch norm variables to the optimizer, didn't realize I had to do that manually. So basically I changed ```train_op``` to :
[code]
That still lead to high validation loss values in the first 10-15 epochs, but then it started reducing until I reached >90% validation accuracy.

[2019-09-06 21:44] #47 closed

[2019-09-10 05:30] hkgautam opened #48 "Tensornets not working with threading.Threads"
Hi ! I was using tensornets with threading.Threads. It shows error with some tensorflow shapes. Please look after this and provide me with the solution.

Te code is

import threading
import tensorflow as tf
import tensornets as nets
import cv2
import numpy as np
import time
import os

import argparse

class MyThread(threading.Thread):

    def run(self):

        # os.popen("start cmd /k python de

[2019-10-20 21:16] benmezger opened #50 "Unable to pip instal tensornets on production"
For some reason, `tensornets` fails to install when doing `pip install -r requirements.txt` on production.

[code]

For some reason, tensorflow is not able to find numpy. I have tried installing using the distribution package before installing tensorflow, but the same happened. Any idea?

[2019-11-07 04:27] devendraswamy opened #51 "For getting more accuracy in faster rcnn , which parameters i have to tune (tuning parameters)"
For getting more accuracy in faster-rcnn , which parameters i have to tune (tuning parameters). please anybody provide the solution for that problem, actually my model is working but the problem is getting less accuracy and some miss classifications are happens , so please kindly provide solution for getting high accuracy in the model.

Thanking you!

[2019-11-07 17:06] rohit9934 commented on #27
Do you have any plan to add training for YoloV3? Actually, i need to do training for Bikes from Head to tyres and I am using your YoloV3 for other detections.

[2019-11-12 09:23] taehoonlee opened #52 "Notes for the updates of the performance table"
Recently, I have updated the performance table to follow the recent report format. I reviewed 10 recent papers as follows, and found that error rates and 10-crop testing are no longer used for evaluation after about 2017.

|   | measure | 10-crop |
|---|---------|---------|
| [ResNeXt](https://arxiv.org/pdf/1611.05431.pdf) (CVPR 2017) | err | O |
| [DenseNet](https://arxiv.org/pdf/1608.06993.pdf)

[2019-11-22 15:21] Baakchsu opened #53 "No module named 'tensorflow.contrib'"
Since tensorflow.contrib methods were moved to tensorflow.core, I'm not able to run tensornets code for YOLOv3COCO.

[2019-11-24 06:53] sarathak commented on #53
i think not supporting tensorflow 2

[2019-11-26 07:44] meysamsadeghi commented on #53
I am using TF 2, and have the same error. Is there any workaround? Or do you have any plan for addressing this?
@taehoonlee

[2019-11-27 00:38] taehoonlee commented on #53
Thank you for using TensorNets, @Baakchsu, @sarathak, @meysamsadeghi. Yes, I'm going to address this issue. I would appreciate it if you can be patient on the problem.

[2019-11-28 00:44] cozy-chestnut commented on #53
Thanks for addressing this issue. I'm waiting for a solution to this as well. Again, thanks for providing this handy tool to us. =]

[2020-01-13 04:36] robi56 opened #54 "Error on loading pre-trained model"
I am trying to work on transfer learning using Mobilenet Pretrained model

model = nets.MobileNet35v2(inputs, is_training=True, classes=2)
with tf.Session() as sess:
    nets.pretrained(model)

But this gives the following error

[code]

[2020-01-23 07:47] taehoonlee commented on #53
Thank you for being patient, @Baakchsu, @sarathak, @meysamsadeghi, @cozy-chestnut. The PR #55 adds TF 2 supports, so I'll close the issue for now. But I am not sure if it will work perfectly in your codes because this is one of the temporal solutions. Please let me know by opening another issue if you have additional comments.

[2020-01-23 07:47] #53 closed

[2020-01-23 07:56] taehoonlee commented on #54
@robi56, The `nets.pretrained()` will be depreciated. Please use `sess.run(model.pretrained())` instead.

[2020-01-23 07:56] #54 closed

[2020-01-24 05:34] #35 closed

[2020-03-11 10:49] vladdders opened #57 "custom weights for tensornet model"
Hi, is it possible to load custom weights in tensornets models? Say I have some different classes than the ones in coco dataset for a yolov3 model and I'd like to load them using tensornets. Is that doable?

Thanks in advance!

[2020-03-13 05:14] taehoonlee commented on #57
Thank you for using TensorNets, @vladdders. In order to use the following APIs, you should upgrade `tensornets==0.4.5`.

[code]

Or, you can simply use the following patterns.
[code]

[2020-03-21 05:43] aerdy opened #59 "input YOLOv3COCO Darknet 9000?"

[2020-03-27 01:59] taehoonlee commented on #57
@vladdders, I'll close the issue for now. Please feel free to open it again at any time if you have additional comments.

[2020-03-27 01:59] #57 closed

[2020-04-09 11:58] avinashkr29 commented on #44
Hello @taehoonlee , I am facing same issue. Please help. VC++ is installed on my pc, and I didn't get error with any other package.
 pip install tensornets
Collecting tensornets
  Using cached tensornets-0.4.6.tar.gz (651 kB)
  Installing build dependencies ... done
  WARNING: Missing build requirements in pyproject.toml for tensornets from https://files.pythonhosted.org/packages/71/22/2c9402bbf14

[2020-04-14 16:24] nicomunting commented on #44
Do the other packages, which install succesfully, contain Cython code? Because the nms extension on which it appears to get stuck does not contain regular Python code.

[2020-04-14 22:23] eliesl opened #62 "Attribute Error logits"
Hi, I get this error:
logits= model.logits
AttributeError: 'Tensor' object has no attribute 'logits'

Does anyone have any idea how to fix this issue?
Thanks.

[2020-04-14 22:51] eliesl commented on #62
I fixed the issue by installing the newer version of tensornets.

[2020-04-14 22:51] #62 closed

[2020-05-27 10:21] Galisela opened #65 "importing weights from darknet yolov3"
Hello,

Thank you for this fast and simple API. I find it very helpful and efficient.

I was wondering if there was a way to import weights from a yolov3 model I trained in darknet to run it in tensornets.

Thanks.

[2020-06-08 09:28] WingsBrokenAngel opened #66 "The drop rate of EfficientNet is fixed"
The drop rate of dropouts in EfficientNet is fixed. Whether it is in training or not, dropouts are always effective that are not expected in testing.

[2020-06-08 09:36] #66 closed

[2020-06-12 09:42] hong90 opened #67 "Confusing result when I load pretrained weight for mobilenetv3smallmini."
### First I loaded pretrained weight with is_training=True, the ouput float is probability of input's class:
[code]
### Then I loaded pretrained weight with is_training=True:
[code]
### Why they are different?
### Code:
[code]
### Thank you for helping me.

[2020-06-26 07:51] yaswanth789 opened #68 "I tried to install tensornet on my jenkins VM which uses ubuntu 20.04"

[2021-01-04 18:18] prayagverma01 commented on #24
C:\Users\HP\AppData\Local\Programs\Python\Python38\Scripts>pip install tensornets
Collecting tensornets
  Using cached tensornets-0.4.6.tar.gz (651 kB)
  Installing build dependencies ... done
  WARNING: Missing build requirements in pyproject.toml for tensornets from https://files.pythonhosted.org/packages/71/22/2c9402bbf142b94dc39d8a3c9884690ae87706a8bc1453d6cf0630525173/tensornets-0.4.6.tar.gz#

[2021-08-04 05:05] Zain-Gill123 commented on #50
Hey! Did you find any solution to this?

[2021-08-20 03:22] ascidian-ai opened #69 "Create a more robust pyproject.toml file"
**ENVIRONMENT SETUP**
Windows 10 (64-bit), Anaconda 2.0.4, Python 3.8.10, Jupyter Notebook 6.4.3

**PROBLEM**
I've had numpy compatability issues getting tensornets 0.4.6 installed.

I eventually managed to get tensornets 0.4.5 installed and running with the following dependancies
- cython==0.29.24
- numpy==1.19.5
- tensorflow==2.6.0

**ISSUE**
wheel had issues identifying the right dependancies w

[2021-08-25 10:48] DLPerf opened #70 "Performance issue in /translations/tfslim.py (by P3)"
Hello! I've found a performance issue in /translations/tfslim.py: `with tf.Session() as sess`[(here)](https://github.com/taehoonlee/tensornets/blob/c9b1d78f806892193efdebee2789a47fd148b984/translations/tfslim.py#L53) is repeatedly called in the loop `for (net, shape, model_name) in models_list`[(here)](https://github.com/taehoonlee/tensornets/blob/c9b1d78f806892193efdebee2789a47fd148b984/translati

[2021-11-04 09:22] DLPerf commented on #70
Hello, I'm looking forward to your reply~